APP_ENV=production

BASE_URL=https://automationexercise.com

# Dados de usuário
USER_EMAIL=demarcoQA@teste.com
USER_PASS=Abcde1234!
USER_USERNAME=Demarco

# Dados do Cartão
CARD_NAME=Demarco
CARD_NUMBER=5248893730954434
CARD_CVC=123
CARD_EXP_MONTH=12
CARD_EXP_YEAR=2030